@font-face {
  font-family: 'TheShuffleRegular-yYarm';
  src: url('./fonts/TheShuffleRegular-yYarm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  font-family: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

